@media(min-width:0px)and(max-width:575px){
    .carousel{
        padding: 40px 0px 80px 0px;
    }
    .navbar .nav-link {
        background-color: rgba(0,0,0,.7);
        border: 1px solid var(--white-color);
        padding: 10px;
    }
}
@media(min-width:575px)and(max-width:767px){
    .carousel{
        padding: 100px 0px 120px 0px;
    }
     .nav-link{background-color: rgba(0,0,0,.7);
        border: 1px solid var(--white-color);
        padding: 10px;
    }
}
@media(min-width:768px)and(max-width:991px){
    .carousel{
        padding: 120px 0px 140px 0px;
    }
    .nav-link{
        background-color: rgba(0,0,0,.7);
        border: 1px solid var(--white-color);
        padding: 10px;
    }
    .navbar{
        max-width: 80px;
        position: relative;
        z-index: 1;
    }
}